*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.vs/INGLES/CopilotIndices/17.14.1368.60722
/.vs/INGLES/FileContentIndex
/.vs/INGLES/v17
*.json
*.sqlite
*.sqlite-journal
